/***** HEADER CSS NOT REQUIRED FOR DEMO *****/

#safe-ribbon {
    position: relative;
    display: block;
    float: right;
    margin-bottom: -2rem;
    height: 2rem;
    z-index: 2000;
}

#safe-ribbon a {
    background: #E98300;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 0 5px;
    font-size: 1rem;
    line-height: 2rem;
    transition: background 0.5s;
    display: block;
}

#safe-ribbon a:hover {
    background: #DA7B00;
    color: #fff;
}

#safe-ribbon a::before,
#safe-ribbon a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 0px;
    background: #ffffff;
}

#safe-ribbon a::after {
    bottom: 0px;
    top: auto;
}

@media screen and (min-width:979px) {
    #safe-ribbon {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
    }
    #safe-ribbon a {
        width: 200px;
        position: absolute;
        top: 0px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
        padding: 0px 0px;
    }
}

body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: verdana;
    padding-top: 0px;
}

.brand {
    color: #ffffff !important;
    font-weight: 300 !important;
    text-shadow: none !important;
}

@media screen and (max-width: 300px) {
    .hidden-tiny {
        display: none;
    }
}

.navbar {
    margin: 0;
    position: fixed;
}

.navbar-inner {
    background-color: #7AB800;
    background-image: none;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
    padding: 0;
}

.nav-collapse.in.collapse {
    padding-bottom: 0px;
}


/**** End of Header CSS ****/


/* make container, and thus map, 100% width */

.container_native {
    width: 100%;
    height: 100%;
}


#navigator_left {
    float: left;
    width: 10.5%;
    height: 100%;
    background-color: #E8E8E8;
}

#map_canvas {
    float: left;
    width: 79%;
    height: 100%;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}

#navigator_right {
    float: left;
    width: 10.5%;
    height: 100%;
    background-color: #E8E8E8;
}

#tweets {
    position: absolute;
    top: 60px;
    left: 75px;
    z-index: 1000;
    font-size: 30px;
}

.iframe {
    padding-top: 0px;
}

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select {
    font-size: inherit;
    /* inherit size from .custom-dropdown */
    padding: .5em;
    /* add some space*/
    margin: 0;
    /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #19FFD1;
    color: #444;
}

#dropdown-holder{
    padding-top: 10px;
    padding-right: 10px;
    z-index: -1;
    position: relative;
}
#button-holder{
    padding-top: 10px;
    padding-left: 10px;
    z-index: -1;
    position: relative;
}

#btn{
    width:200px;
    height: 35px;
    font-size: 15px;
    font-family: verdana;
}
#keyword{
    width:200px;
    height: 35px;
    font-size: 15px;
    font-family: verdana;
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .custom-dropdown__select {
        padding-right: 2.5em;
        /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }
    .custom-dropdown::after {
        /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
    }
    .custom-dropdown::before {
        /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
    }
    .custom-dropdown__select[disabled] {
        color: rgba(0, 0, 0, .3);
        background-color: #19FFD1;
    }
    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0, 0, 0, .1);
        background-color: #19FFD1;
    }
    /* White dropdown style */
    .custom-dropdown--white::before {
        background-color: #fff;
        background-color: #19FFD1;
        border-left: 1px solid rgba(0, 0, 0, .1);
    }
    .custom-dropdown--white::after {
        color: rgba(0, 0, 0, .9);
        background-color: #19FFD1;
    }
    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select {
            padding-right: .9em
        }
        .custom-dropdown--large .custom-dropdown__select {
            padding-right: 1.3em
        }
        .custom-dropdown--small .custom-dropdown__select {
            padding-right: .5em
        }
    }
}
